/* * {
  box-sizing: border-box;
} */

/*
body {
  font-family: sans-serif;
  line-height: 1.7;
  padding: 0.9em;
} */

/* for the whole "contact-container" class in html section */
.contact-container {
  max-width: 1120px;    /* for responsive width */
  margin-left: auto;    /* auto adaptiveness margin for left side*/
  margin-right: auto;   /* auto adaptiveness margin for right side*/
  padding: 1em;
  box-sizing: border-box;
}

/* for ul list in the acm-info section */
ul {
  list-style: none;
  padding: 1px;
}

/* "contact-title" class in the container */
.contact-title {
  text-align: center;
}

/* wrapper section */
.wrapper {
  box-shadow: 0 0 20px 0 rgba(72 , 94 , 116 , 0.7);
}

.wrapper > * {
  padding: 1em;
}

/* acm info section in the contact form */
.acm-info {
  background-color: #92bdf1;
}

.acm-info h2 , .acm-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* contact form styles starts (inputs)*/
.contact_form {
  /* background: #f9fdff; */
  background: #fff;
}

.contact_form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact_form form label {
  display: block;
}

.contact_form form p {
  margin: 0;
}

/* for stretchable input field */
.contact_form form .stretch {
  grid-column: 1/3;
}

.contact_form form button , .contact_form form input , .contact_form form textarea {
  width: 100%;
  padding: 0.4em;
  border: 1.4px solid #c9e6ff;
}

.contact_form form button {
  background: #c9e6ff;
  border: 0;
  padding: 0.8em;
  font-weight: bolder;
  font-size: 115%;
}

/* effects of button on hover and after clicking the button */
.contact_form form button:hover , .contact_form form button:focus {
  background: #92bee7;
  color: #ffffff;
  outline: 0;
  transition: background-color 0.8s ease-out;
}

/* responsiveness for desktop */
/* wrapper has been divided to 1/3 + 2/3 */
@media(min-width:700px) {

  .wrapper {
    display: grid;
    grid-template-columns:1fr 2fr;
  }

  .wrapper > * {
    padding: 1em;
  }

  .acm-info h2 , .acm-info ul {
    text-align: left;
  }
}

@media (max-width:690px) {

  .contact_form form button , .contact_form form input , .contact_form form textarea {
    width: 100%;
    padding: 0.25em;
    border: 1.2px solid #c9e8ff;
  }

  .contact_form form textarea {
    padding: 0.15em;
  }

  .contact_form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .contact_form form .fill-full {
    grid-column: 1/3;
  }

  .contact-container {
    padding: 0.5em;
  }

  .acm-info {
    padding: 2px;
  }

}
