/* COLOR CODES: 
	ACM BLUE: #0182AC;
	ACM LIGHT BLUE: #83CEE2;
	ACM PURPLE: #65016B;

	IMPORTANT: ADD ANY MORE COLOR CODES USED HERE
*/


body {
    font-size: 115%;
}

/* Put this class to the parent class to vertically and horizontally align all its children*/
.v-center {  
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 300px;
}

.image {
	width: 90%;
	padding: 20px;
}


@media max-width: 768px {
	.image {
		width: 75%;
	}	
}
