/* COLOR CODES:
	ACM BLUE: #0182AC;
	ACM LIGHT BLUE: #83CEE2;
	ACM PURPLE: #65016B;

	IMPORTANT: ADD ANY MORE COLOR CODES USED HERE

*/


body {
    font-size: 115%;
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
}

h1 {
	font-weight: 600;
}
/* Put this class to the parent class to vertically and horizontally align all its children*/
.v-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin-bottom: 0;        
}

.footer a {
    color: white;
}
.footer a:hover {
    text-decoration: underline;
}

.footer {
    border-top: 1px solid white;
    padding: 5px;
    color: white;
    background: #00588f;
}


.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

.page-head {
    position: relative;
    /*top: 0px;*/
    background: url('../images/under_dev/bg.png');
    margin-top: 60px;
    width: 100%;
    z-index: -1;
    padding: 50px;
}

.page-head::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #182E69;
    background: -webkit-radial-gradient(circle, #182E69, #2F2727);
    opacity: .65;            
    background-size: 100% 100%;
} 

.page-head .v-center {
    flex-direction: column;
}

.page-title {
    font-size: calc(3.5vw + 36px);
    color: rgb(131, 206, 226);
}

.page-subtitle {
    color: rgb(131, 206, 226);
}

.page-content {
    /*border-top: 1px solid white;*/
    -webkit-box-shadow: 0px -3px 10px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px -3px 10px 0px rgba(255,255,255,1);
    box-shadow: 0px -3px 10px 0px rgba(255,255,255,1);
    position: relative;
    z-index: 1000;
    color: white;
    background-image: linear-gradient(to right top, #182e69, #08437d, #00588f, #006d9e, #0182ac);
    padding-bottom: 40px;
}

.page-description {
    color: white;
}

.parallax-bg {
    position: fixed;
}

.type {
    display: none !important;
    color: black;
}

.type.active {
    display: block !important;
}

@media (max-width: 768px) {
    .parallax-bg {
        position: relative;
        margin-top: 0!important;
    }

    .page-head {
        padding: 25px;
    }
}