/* .tab {
    margin-left: 40%;
    border:none;
    background-color: transparent;
    padding-bottom: 40px;
}

Style the buttons inside the tab
.tab button {
    background-color: transparent;
    float: center;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 17px;
    color: wheat;
}

Change background color of buttons on hover
.tab button:hover {
    background-color:#0750EC;
    
}

Create an active/current tablink class
.tab button.active {
    background-color:#077EC8;
}

Style the tab content
.tabcontent {
    display: none;
    padding: 6px 12px;
    border:none;
    border-top: none;
} */


.tabs{
  margin-top:50px;
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#83cee2;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
  margin-bottom: 50px;
}

.tabs a{
  text-decoration:none;
  color: #000;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  background-color:#0182AC;
  border-radius: 50px;
  transition-duration:0.6s;
   transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
   color: #fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
   transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
  
  background: #65016b;
  
}

#team_page .tabs {
  background: #fff;
}

#team_page .tabs a.active {
  background-color: #65016B;
}

@media (max-width: 768px) {
  .tabs a.active {
    border-radius: 100px;
  }
}